appdirs==1.4.3
asn1crypto==0.22.0
attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
command-not-found==0.3
cryptography==1.9
cupshelpers==1.0
dateparser==0.6.0
defer==1.0.6
diff-match-patch==20121119
distro-info==0.17
ecdsa==0.13
funcy==1.10
httplib2==0.9.2
humanize==0.5.1
idna==2.6
keyring==10.4.0
keyrings.alt==2.2
langdetect==1.0.7
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==4.1.1
maya==0.3.3
nltk==3.2.5
numpy==1.14.0
olefile==0.44
pandas==0.22.0
pendulum==1.4.0
pexpect==4.2.1
Pillow==9.3.0
pipfile==0.0.2
pluggy==0.6.0
prettytable==0.7.2
py==1.5.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.24.1
pylibscrypt==1.7.1
pytest==3.3.2
python-apt==1.4.0b3
python-dateutil==2.6.1
python-debian==0.1.30
pytz==2018.3
pytzdata==2017.3.1
pyxdg==0.25
PyYAML==3.12
regex==2018.1.10
reportlab==3.4.0
requests==2.18.4
ruamel.yaml==0.15.35
scikit-learn==0.19.1
scipy==1.0.0
scrypt==0.8.0
SecretStorage==2.3.1
six==1.11.0
steem==0.18.103
textblob==0.15.1
toml==0.9.3
toolz==0.9.0
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
urllib3==1.22
usb-creator==0.3.3
voluptuous==0.10.5
w3lib==1.19.0
xkit==0.0.0
